* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#P1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    line-height: 80px;
}

#P2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25%;
    margin: 2em;
    line-height: 18px;
}

.street {
    grid-column-start: 2;
}

h2 {
    text-align: center;
}

.dark-text {
    align-self: center;
    font-size: 10px;
    color: black;
}

p {
    align-self: center;
    color: grey;
    text-align: center;
}

#P3 {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 20%;
    grid-template-rows: 25%;
    grid-gap: 10px;
    line-height: 18px;
}

img {
    width: 80%;
    margin: 20px;
}

.ch1 {
    grid-column-start: 2;
}