#P1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

#P2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25%;
    justify-content: space-between;
}

.street {
    text-align: center;
}

.imgstr {
    justify-content: center;
}

#P3 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    justify-content: space-around;
}